* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(45deg, rgb(6, 114, 177), rgb(1, 14, 26));
}

body:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgb(5, 82, 126), rgb(0, 0, 0));
	clip-path: circle(30% at right);
}
body:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgb(8, 157, 243), rgb(2, 35, 66));
	clip-path: circle(20% at 10% 10%);
}


.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	z-index: 1;
}
.container .card{
	position: relative;
	width: 25%;
	height: auto;
	margin: 2%;
	padding: 2%;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.137);
	border-radius: 15px;
	background: rgba(116, 116, 116, 0.137);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px lightblue;
	backdrop-filter: blur(5px);
}

.container .card .content{
	padding: 2%;
	text-align: left;
	transition: 0.3s;
	transform: translateY(0px);
	opacity: 1;
}
.container .card:hover .content{
	padding: 2%;
	text-align: left;
	transition: 0.3s;
	transform: translateY(100px);
	opacity: 0;
}


.container .card .content h1{
	font-size: 8em;
	color: rgba(255, 255, 255, 0.603);
	pointer-events: none;
}

.container .card .content h5{
	font-size: 1.3em;
	color: rgba(255, 255, 255, 0.603);
	pointer-events: none;
}

.container .card .content p{
	font-size: 01em;
	color: rgba(255, 255, 255, 0.438);
	pointer-events: none;
}



/*

	background: linear-gradient(45deg, rgb(6, 114, 177), rgb(1, 14, 26));
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


	background: rgba(255, 255, 255, 0.178);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);


    background: linear-gradient(45deg, rgba(0, 0, 0, 0.178), rgba(119, 119, 119, 0.151));
    
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
*/